{% extends 'base.html' %}
{% load pagination_tags %}
{% load blog_tags %}


{% block content %}

    <div><strong>文章列表：</strong></div>

    {% autopaginate articles 3 %}

        {% for article in articles %}
            <div>
                标题：<a href="{% url 'blog_article_detail' article.article.id %}">{{ article.article.title }}</a>
                {% if article.article.category %}
                    分类：<a href="{% url 'blog_category' article.article.category.id %}">{{ article.article.category.name }}</a>
                {% endif %}
                {% if article.article_tags %}
                    标签：
                    {% for article_tag in article.article_tags %}
                        <a href="{% url 'blog_tag' article_tag.id %}">{{ article_tag.name }}</a>
                    {% endfor %}
                {% endif %}
                浏览量：{{ article.article.views }}
                点赞数：{{ article.article.likes }}
            </div>
        {% endfor %}

    <div class="paginate-lt-con pull-right">{% paginate %}</div>

    <div>
        <strong>本页文章数：</strong>{% count_article  articles %}
        <strong>文章总数：</strong>{{ article_number }}
    </div>

    <div>
        <strong>文章分类：</strong>
        {% for category in category_list %}
            <a href="{% url 'blog_category' category.id %}">{{ category.name }}</a>: {% category_count_article  category.id %}
        {% endfor %}
    </div>

    <div>
        <strong>文章标签：</strong>
        {% for tag in tag_list %}
            <a href="{% url 'blog_tag' tag.id %}">{{ tag.name }}</a>:{% tag_count_article  tag.id %}
        {% endfor %}
    </div>

    {% for year,month_list in date_archive %}
        {{year}} 年
        {% for month in month_list %}
            {{month}}月
        {% endfor %}
    {% endfor %}

    <div><strong> 作者：wangqihui </strong></div>

{% endblock %}
