{% extends 'base.html' %}
{% load pagination_tags %}
{% load blog_tags %}


{% block content %}

    <div><strong>文章列表：</strong></div>

    {% autopaginate article_list 3 %}

        {% for article in article_list %}
            <div><a href="{% url 'blog_article_detail' article.id %}">{{ article.title }}</a>
                分类：{{ article.category.name }}
            </div>
        {% endfor %}

    <div class="paginate-lt-con pull-right">{% paginate %}</div>

    <div><strong>本页文章数：</strong>{% count_article  article_list %}</div>

    <div><strong>文章总数：</strong>{{ article_number }}</div>

    <div><strong>文章分类：</strong></div>

        {% for category in category_list %}
            <div><a href="{% url 'blog_category' category.id %}">{{ category.name }}</a>: {% category_count_article  category.id %}</div>
        {% endfor %}

    <div><strong>文章标签：</strong></div>

        {% for tag in tag_list %}
            <div><a href="{% url 'blog_tag' tag.id %}">{{ tag.name }}</a>:{% tag_count_article  tag.id %}</div>
        {% endfor %}

    <div><strong> 作者：wangqihui </strong></div>

{% endblock %}
